header {
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
nav ul li {
    display: inline;
    padding: 10px;
    position: relative;
}

body {
    background-color: rgb(15, 237, 237);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

ul li {
    list-style-type: none;
}

table, td {
    border: 1px solid gray;
}

table {
    width: 100%;
}

img {
    margin: 15px;
    max-width: 100%;
}